interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/consumers/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/token","token_endpoint_auth_methods_supported":["client_secret_post","private_key_jwt","client_secret_basic","self_signed_tls_client_auth"],"jwks_uri":"https://login.microsoftonline.com/consumers/discovery/v2.0/keys","response_modes_supported":["query","fragment","form_post"],"subject_types_supported":["pairwise"],"id_token_signing_alg_values_supported":["RS256"],"response_types_supported":["code","id_token","code
        id_token","id_token token"],"scopes_supported":["openid","profile","email","offline_access"],"issuer":"https://login.microsoftonline.com/9188040d-6c67-4c5b-b112-36a304b66dad/v2.0","request_uri_parameter_supported":false,"userinfo_endpoint":"https://graph.microsoft.com/oidc/userinfo","authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/authorize","device_authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/devicecode","http_logout_supported":true,"frontchannel_logout_supported":true,"end_session_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/logout","claims_supported":["sub","iss","cloud_instance_name","cloud_instance_host_name","cloud_graph_host_name","msgraph_host","aud","exp","iat","auth_time","acr","nonce","preferred_username","name","tid","ver","at_hash","c_hash","email"],"kerberos_endpoint":"https://login.microsoftonline.com/consumers/kerberos","mtls_endpoint_aliases":{"token_endpoint":"https://mtlsauth.microsoft.com/consumers/oauth2/v2.0/token"},"tls_client_certificate_bound_access_tokens":true,"tenant_region_scope":null,"cloud_instance_name":"microsoftonline.com","cloud_graph_host_name":"graph.windows.net","msgraph_host":"graph.microsoft.com","rbac_url":"https://pas.windows.net"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: file-blocking
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua/move_blocker.txt:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:53:54Z","eTag":"\"{09504C37-8C2D-4598-B97E-6D593A3C3F0E},1\"","id":"graphreplaydrive!s09504c378c2d4598b97e6d593a3c3f0e","lastModifiedDateTime":"2026-06-10T05:53:54Z","name":"move_blocker.txt","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!s09504c378c2d4598b97e6d593a3c3f0e","cTag":"\"c:{09504C37-8C2D-4598-B97E-6D593A3C3F0E},1\"","isAuthoritative":false,"size":13,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!s986cd626d6ae40c5970fa7b8eb09d419","name":"mcua","path":"/drives/graphreplaydrive/root:/rs-conformance/mcua","siteId":"REDACTED"},"file":{"mimeType":"text/plain","hashes":{"quickXorHash":"ZkgDG8rQAjGw4Q1jVUMa3HAGAAA="}},"fileSystemInfo":{"createdDateTime":"2026-06-10T05:53:54Z","lastModifiedDateTime":"2026-06-10T05:53:54Z"}}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
      SPLogId:
      - 4f241ca2-30c7-d000-9cbc-69aa4fcac6ab
    status:
      code: 201
      message: Created
- request:
    body: srcdata
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua/move_src.txt:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua/move_src.txt:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:53:54Z","eTag":"\"{71257FFB-D08F-41ED-83F1-6BF67D4F0C8D},1\"","id":"graphreplaydrive!s71257[...]
- request:
    body: '{"parentReference":{"driveId":"graphreplaydrive","path":"/drives/graphreplaydrive/root:/rs-conformance/mcua/move_blocker.txt"},"name":"dst.txt"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua/move_src.txt:?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"error":{"code":"invalidRequest","message":"Invalid request","innerError":{"date":"2026-06-10T05:53:55","request-id":"d13262dd-ef7f-481d-88dc-f2c6e9084dcc","client-request-id":"d13262dd-ef7f-481d-88dc-f2c6e9084dcc"}}}'
    headers:
      Content-Type:
      - application/json
      SPLogId:
      - 50241ca2-407b-d000-9cbc-61db8ed5e4a1
    status:
      code: 400
      message: Bad Request
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","createdDateTime":"2026-06-10T05:53:53Z","eTag":"\"{986CD626-D6AE-40C5-970F-A7B8EB09D419},1\"","id":"graphreplaydrive!s986cd626d6ae40c5970fa7b8eb09d419","lastModifiedDateTime":"2026-06-10T05:53:53Z","name":"mcua","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!s986cd626d6ae40c5970fa7b8eb09d419","cTag":"\"c:{986CD626-D6AE-40C5-970F-A7B8EB09D419},0\"","isAuthoritative":false,"size":0,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!s20eb0f139e1249caad30221eca96ddcf","name":"rs-conformance","path":"/drives/graphreplaydrive/root:/rs-conformance","siteId":"REDACTED"},"fileSystemInfo":{"createdDateTime":"2026-06-10T05:53:53Z","lastModifiedDateTime":"2026-06-10T05:53:53Z"},"folder":{"childCount":2,"view":{"sortBy":"name","sortOrder":"ascending","viewType":"thumbnails"}}}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
      SPLogId:
      - 50241ca2-609c-d000-9cbc-6c0ffe73c34d
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua/move_blocker.txt:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:53:54Z","eTag":"\"{09504C37-8C2D-4598-B97E-6D593A3C3F0E},1\"","id":"graphreplaydrive!s0[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://graph-download.invalid/REDACTED
  response:
    body:
      string: file-blocking
    headers:
      CTag:
      - '{09504C37-8C2D-4598-B97E-6D593A3C3F0E},1,1'
      Content-Disposition:
      - attachment;filename*=utf-8''move%5Fblocker%2Etxt;filename="move_blocker.txt"
      Content-Type:
      - text/plain
      ETag:
      - '"{09504C37-8C2D-4598-B97E-6D593A3C3F0E},1"'
      IsOCDI:
      - '0'
      MS-CV:
      - ohwkUTkwANCcvGUNjSqohw.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.27320
      SPLogId:
      - 51241ca2-3039-d000-9cbc-650d8d2aa887
      SPRequestDuration:
      - '410'
      SPRequestGuid:
      - 51241ca2-3039-d000-9cbc-650d8d2aa887
      X-1DSCollectorUrl:
      - https://mobile.events.data.microsoft.com/OneCollector/1.0/
      X-AriaCollectorURL:
      - https://browser.pipe.aria.microsoft.com/Collector/3.0/
      X-DataBoundary:
      - NONE
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-NetworkStatistics:
      - 0,1048560,0,0,535726,169593,169593,111236
      X-SharePointHealthScore:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","createdDateTime":"2026-06-10T05:53:53Z","eTag":"\"{20EB0F13-9E12-49CA-AD30-221ECA96DDCF},1\"","id":"graphreplaydrive!s20eb0f139e1249caad30221eca96ddcf","lastModifiedDateTime":"2026-06-10T05:53:53Z","name":"rs-confo[...]
- request:
    body: ''
    headers:
    method: DELETE
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: ''
    headers:
      SPLogId:
      - 51241ca2-c0ea-d000-9cbc-63471c028e92
    status:
      code: 204
      message: No Content
version: 1
