interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/consumers/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/token","token_endpoint_auth_methods_supported":["client_secret_post","private_key_jwt","client_secret_basic","self_signed_tls_client_auth"],"jwks_uri":"https://login.microsoftonline.com/consumers/discovery/v2.0/keys","response_modes_supported":["query","fragment","form_post"],"subject_types_supported":["pairwise"],"id_token_signing_alg_values_supported":["RS256"],"response_types_supported":["code","id_token","code
        id_token","id_token token"],"scopes_supported":["openid","profile","email","offline_access"],"issuer":"https://login.microsoftonline.com/9188040d-6c67-4c5b-b112-36a304b66dad/v2.0","request_uri_parameter_supported":false,"userinfo_endpoint":"https://graph.microsoft.com/oidc/userinfo","authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/authorize","device_authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/devicecode","http_logout_supported":true,"frontchannel_logout_supported":true,"end_session_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/logout","claims_supported":["sub","iss","cloud_instance_name","cloud_instance_host_name","cloud_graph_host_name","msgraph_host","aud","exp","iat","auth_time","acr","nonce","preferred_username","name","tid","ver","at_hash","c_hash","email"],"kerberos_endpoint":"https://login.microsoftonline.com/consumers/kerberos","mtls_endpoint_aliases":{"token_endpoint":"https://mtlsauth.microsoft.com/consumers/oauth2/v2.0/token"},"tls_client_certificate_bound_access_tokens":true,"tenant_region_scope":null,"cloud_instance_name":"microsoftonline.com","cloud_graph_host_name":"graph.windows.net","msgraph_host":"graph.microsoft.com","rbac_url":"https://pas.windows.net"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: a
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/pc/a.txt:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T18:44:13Z","eTag":"\"{320DB538-DCB2-4FC1-B352-453AF5B67D4F},1\"","id":"graphreplaydrive!s320db538dcb24fc1b352453af5b67d4f","lastModifiedDateTime":"2026-06-10T18:44:13Z","name":"a.txt","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!s320db538dcb24fc1b352453af5b67d4f","cTag":"\"c:{320DB538-DCB2-4FC1-B352-453AF5B67D4F},1\"","isAuthoritative":false,"size":1,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!s2327d2b7a9314efa9444399852f3248b","name":"pc","path":"/drives/graphreplaydrive/root:/rs-conformance/pc","siteId":"REDACTED"},"file":{"mimeType":"text/plain","hashes":{"quickXorHash":"YQAAAAAAAAAAAAAAAQAAAAAAAAA="}},"fileSystemInfo":{"createdDateTime":"2026-06-10T18:44:13Z","lastModifiedDateTime":"2026-06-10T18:44:13Z"}}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
    status:
      code: 201
      message: Created
- request:
    body: b
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/pc/d1/b.txt:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T1[...]
- request:
    body: c
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/pc/d1/c.txt:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T1[...]
- request:
    body: d
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/pc/d1/d2/d.txt:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-1[...]
- request:
    body: e
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/pc/d1/d2/d3/e.txt:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-0[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/pc:/children
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/children","value":[{"createdDateTime":"2026-06-10T18:44:14Z","eTag":"\"{26DC70C6-D922-4BA3-81AA-9D69FF3241DD},1\"","id":"graphreplaydrive!s26dc70c6d9224ba381aa9d69ff3241dd","lastModifiedDateTime":"2026-06-10T18:44:14Z","name":"d1","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!s26dc70c6d9224ba381aa9d69ff3241dd","cTag":"\"c:{26DC70C6-D922-4BA3-81AA-9D69FF3241DD},0\"","isAuthoritative":false,"size":0,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!s2327d2b7a9314efa9444399852f3248b","name":"pc","path":"/drives/graphreplaydrive/root:/rs-conformance/pc","siteId":"REDACTED"},"fileSystemInfo":{"createdDateTime":"2026-06-10T18:44:14Z","lastModifiedDateTime":"2026-06-10T18:44:14Z"},"folder":{"childCount":3,"view":{"sortBy":"name","sortOrder":"ascending","viewType":"thumbnails"}}},{"@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T18:44:13Z","eTag":"\"{320DB538-DCB2-4FC1-B352-453AF5B67D4F},1\"","id":"graphreplaydrive!s320db538dcb24fc1b352453af5b67d4f","lastModifiedDateTime":"2026-06-10T18:44:13Z","name":"a.txt","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!s320db538dcb24fc1b352453af5b67d4f","cTag":"\"c:{320DB538-DCB2-4FC1-B352-453AF5B67D4F},1\"","isAuthoritative":false,"siz[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/pc/d1:/children
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/children","value":[{"createdDateTime":"2026-06-10T18:44:18Z","eTag":"\"{399BDF6A-E223-4CB8-8CD5-6F1CF5E9D74F},1\"","id":"graphreplaydrive!s399bdf6ae2234cb88cd56f1cf5e9d74f","lastModifiedDateTime":"2026-06-10T18:[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/pc/d1/d2:/children
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/children","value":[{"createdDateTime":"2026-06-10T18:44:20Z","eTag":"\"{EF81BEA7-75D0-4B2F-95F4-25922B8B7F3B},1\"","id":"graphreplaydrive!sef81bea775d04b2f95f425922b8b7f3b","lastModifiedDateTime":"2026-06-10T[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/pc/d1/d2/d3:/children
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/children","value":[{"@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T18:44:20Z","eTag":"\"{D8827C44-C1C4-4D1A-9F90-D0816A36CC63},1\"","id":"graphreplay[...]
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","createdDateTime":"2026-06-10T18:44:13Z","eTag":"\"{9A2D351E-3F76-488E-9C9A-A504DCE16DCF},1\"","id":"graphreplaydrive!s9a2d351e3f76488e9c9aa504dce16dcf","lastModifiedDateTime":"2026-06-10T18:44:13Z","name":"rs-confo[...]
- request:
    body: ''
    headers:
    method: DELETE
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
