interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/consumers/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/token","token_endpoint_auth_methods_supported":["client_secret_post","private_key_jwt","client_secret_basic","self_signed_tls_client_auth"],"jwks_uri":"https://login.microsoftonline.com/consumers/discovery/v2.0/keys","response_modes_supported":["query","fragment","form_post"],"subject_types_supported":["pairwise"],"id_token_signing_alg_values_supported":["RS256"],"response_types_supported":["code","id_token","code
        id_token","id_token token"],"scopes_supported":["openid","profile","email","offline_access"],"issuer":"https://login.microsoftonline.com/9188040d-6c67-4c5b-b112-36a304b66dad/v2.0","request_uri_parameter_supported":false,"userinfo_endpoint":"https://graph.microsoft.com/oidc/userinfo","authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/authorize","device_authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/devicecode","http_logout_supported":true,"frontchannel_logout_supported":true,"end_session_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/logout","claims_supported":["sub","iss","cloud_instance_name","cloud_instance_host_name","cloud_graph_host_name","msgraph_host","aud","exp","iat","auth_time","acr","nonce","preferred_username","name","tid","ver","at_hash","c_hash","email"],"kerberos_endpoint":"https://login.microsoftonline.com/consumers/kerberos","mtls_endpoint_aliases":{"token_endpoint":"https://mtlsauth.microsoft.com/consumers/oauth2/v2.0/token"},"tls_client_certificate_bound_access_tokens":true,"tenant_region_scope":null,"cloud_instance_name":"microsoftonline.com","cloud_graph_host_name":"graph.windows.net","msgraph_host":"graph.microsoft.com","rbac_url":"https://pas.windows.net"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/ec_rt.bin:/content?%40microsoft.graph.conflictBehavior=replace
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:13:11Z","eTag":"\"{5D9C20AA-6E77-4DC3-8CBF-6C71ECB8B3D5},1\"","id":"graphreplaydrive!s5d9c20aa6e774dc38cbf6c71ecb8b3d5","lastModifiedDateTime":"2026-06-10T05:13:11Z","name":"ec_rt.bin","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!s5d9c20aa6e774dc38cbf6c71ecb8b3d5","cTag":"\"c:{5D9C20AA-6E77-4DC3-8CBF-6C71ECB8B3D5},1\"","isAuthoritative":false,"size":0,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!sd3db3a9d8bf04194a7e01ef41dce4b3e","name":"rs-conformance","path":"/drives/graphreplaydrive/root:/rs-conformance","siteId":"REDACTED"},"file":{"mimeType":"application/octet-stream","hashes":{"quickXorHash":"AAAAAAAAAAAAAAAAAAAAAAAAAAA="}},"fileSystemInfo":{"createdDateTime":"2026-06-10T05:13:11Z","lastModifiedDateTime":"2026-06-10T05:13:11Z"}}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
      SPLogId:
      - fb211ca2-8085-d000-9cbc-6767dc22f207
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/ec_rt.bin:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:13:11Z","eTag":"\"{5D9C20AA-6E77-4DC3-8CBF-6C71ECB8B3D5},1\"","id":"graphreplaydrive!s5d9c20aa6e774[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://graph-download.invalid/REDACTED
  response:
    body:
      string: ''
    headers:
      CTag:
      - '{5D9C20AA-6E77-4DC3-8CBF-6C71ECB8B3D5},1,1'
      Content-Disposition:
      - attachment;filename*=utf-8''ec%5Frt%2Ebin;filename="ec_rt.bin"
      Content-Type:
      - application/octet-stream
      ETag:
      - '"{5D9C20AA-6E77-4DC3-8CBF-6C71ECB8B3D5},1"'
      IsOCDI:
      - '0'
      MS-CV:
      - ohwh/BpgANCcvGscnwPDGw.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.27320
      SPLogId:
      - fc211ca2-601a-d000-9cbc-6b1c9f03c31b
      SPRequestDuration:
      - '52'
      SPRequestGuid:
      - fc211ca2-601a-d000-9cbc-6b1c9f03c31b
      X-1DSCollectorUrl:
      - https://mobile.events.data.microsoft.com/OneCollector/1.0/
      X-AriaCollectorURL:
      - https://browser.pipe.aria.microsoft.com/Collector/3.0/
      X-DataBoundary:
      - NONE
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-NetworkStatistics:
      - 0,65535,0,0,246560,71887,71887,116133
      X-SharePointHealthScore:
      - '2'
      docID:
      - my.microsoftpersonalcontent.com_52b575dd-9200-466f-a853-18401ad957cb_5d9c20aa-6e77-4dc3-8cbf-6c71ecb8b3d5
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","createdDateTime":"2026-06-10T05:13:11Z","eTag":"\"{D3DB3A9D-8BF0-4194-A7E0-1EF41DCE4B3E},1\"","id":"graphreplaydrive!sd3db3a9d8bf04194a7e01ef41dce4b3e","lastModifiedDateTime":"2026-06-10T05:13:11Z","name":"rs-conformance","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!sd3db3a9d8bf04194a7e01ef41dce4b3e","cTag":"\"c:{D3DB3A9D-8BF0-4194-A7E0-1EF41DCE4B3E},0\"","isAuthoritative":false,"size":0,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!sea8cc6beffdb43d7976fbc7da445c639","name":"Documents","path":"/drives/graphreplaydrive/root:","siteId":"REDACTED"},"fileSystemInfo":{"createdDateTime":"2026-06-10T05:13:11Z","lastModifiedDateTime":"2026-06-10T05:13:11Z"},"folder":{"childCount":1,"view":{"sortBy":"name","sortOrder":"ascending","viewType":"thumbnails"}}}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
      SPLogId:
      - fc211ca2-0048-d000-9cbc-6c1c304a0d3f
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: ''
    headers:
      SPLogId:
      - fc211ca2-7078-d000-9cbc-64e69e68b56a
    status:
      code: 204
      message: No Content
version: 1
