interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/consumers/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/token","token_endpoint_auth_methods_supported":["client_secret_post","private_key_jwt","client_secret_basic","self_signed_tls_client_auth"],"jwks_uri":"https://login.microsoftonline.com/consumers/discovery/v2.0/keys","response_modes_supported":["query","fragment","form_post"],"subject_types_supported":["pairwise"],"id_token_signing_alg_values_supported":["RS256"],"response_types_supported":["code","id_token","code
        id_token","id_token token"],"scopes_supported":["openid","profile","email","offline_access"],"issuer":"https://login.microsoftonline.com/9188040d-6c67-4c5b-b112-36a304b66dad/v2.0","request_uri_parameter_supported":false,"userinfo_endpoint":"https://graph.microsoft.com/oidc/userinfo","authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/authorize","device_authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/devicecode","http_logout_supported":true,"frontchannel_logout_supported":true,"end_session_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/logout","claims_supported":["sub","iss","cloud_instance_name","cloud_instance_host_name","cloud_graph_host_name","msgraph_host","aud","exp","iat","auth_time","acr","nonce","preferred_username","name","tid","ver","at_hash","c_hash","email"],"kerberos_endpoint":"https://login.microsoftonline.com/consumers/kerberos","mtls_endpoint_aliases":{"token_endpoint":"https://mtlsauth.microsoft.com/consumers/oauth2/v2.0/token"},"tls_client_certificate_bound_access_tokens":true,"tenant_region_scope":null,"cloud_instance_name":"microsoftonline.com","cloud_graph_host_name":"graph.windows.net","msgraph_host":"graph.microsoft.com","rbac_url":"https://pas.windows.net"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: a
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/lfc/a.txt:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T18:44:56Z","eTag":"\"{B8B070EF-61DB-444D-A597-018369BA996B},1\"","id":"graphreplaydrive!sb8b070ef61db444da597018369ba996b","lastModifiedDateTime":"2026-06-10T18:44:56Z","name":"a.txt","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!sb8b070ef61db444da597018369ba996b","cTag":"\"c:{B8B070EF-61DB-444D-A597-018369BA996B},1\"","isAuthoritative":false,"size":1,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!s3adcfc5d5dce49aebced2d0034f0cc65","name":"lfc","path":"/drives/graphreplaydrive/root:/rs-conformance/lfc","siteId":"REDACTED"},"file":{"mimeType":"text/plain","hashes":{"quickXorHash":"YQAAAAAAAAAAAAAAAQAAAAAAAAA="}},"fileSystemInfo":{"createdDateTime":"2026-06-10T18:44:56Z","lastModifiedDateTime":"2026-06-10T18:44:56Z"}}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
    status:
      code: 201
      message: Created
- request:
    body: b
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/lfc/sub/b.txt:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10[...]
- request:
    body: c
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/other/c.txt:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T1[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/lfc:/children
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/children","value":[{"createdDateTime":"2026-06-10T18:44:58Z","eTag":"\"{D0C8572E-9CFC-4456-AB21-FF18DBF2B7CD},1\"","id":"graphreplaydrive!sd0c8572e9cfc4456ab21ff18dbf2b7cd","lastModifiedDateTime":"2026-06-10T18:44:58Z","name":"sub","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!sd0c8572e9cfc4456ab21ff18dbf2b7cd","cTag":"\"c:{D0C8572E-9CFC-4456-AB21-FF18DBF2B7CD},0\"","isAuthoritative":false,"size":0,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!s3adcfc5d5dce49aebced2d0034f0cc65","name":"lfc","path":"/drives/graphreplaydrive/root:/rs-conformance/lfc","siteId":"REDACTED"},"fileSystemInfo":{"createdDateTime":"2026-06-10T18:44:58Z","lastModifiedDateTime":"2026-06-10T18:44:58Z"},"folder":{"childCount":1,"view":{"sortBy":"name","sortOrder":"ascending","viewType":"thumbnails"}}},{"@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T18:44:56Z","eTag":"\"{B8B070EF-61DB-444D-A597-018369BA996B},1\"","id":"graphreplaydrive!sb8b070ef61db444da597018369ba996b","lastModifiedDateTime":"2026-06-10T18:44:56Z","name":"a.txt","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!sb8b070ef61db444da597018369ba996b","cTag":"\"c:{B8B070EF-61DB-444D-A597-018369BA996B},1\"","isAuthoritative":false,"siz[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/lfc/sub:/children
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/children","value":[{"@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T18:44:58Z","eTag":"\"{18429D8D-0F97-4B40-B925-2431DF890FCF},1\"","id":"graphreplaydriv[...]
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","createdDateTime":"2026-06-10T18:44:55Z","eTag":"\"{FB3E4EC8-AAA1-4A8C-B92C-A819EFF1AD1C},1\"","id":"graphreplaydrive!sfb3e4ec8aaa14a8cb92ca819eff1ad1c","lastModifiedDateTime":"2026-06-10T18:44:55Z","name":"rs-confo[...]
- request:
    body: ''
    headers:
    method: DELETE
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
