interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/consumers/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/token","token_endpoint_auth_methods_supported":["client_secret_post","private_key_jwt","client_secret_basic","self_signed_tls_client_auth"],"jwks_uri":"https://login.microsoftonline.com/consumers/discovery/v2.0/keys","response_modes_supported":["query","fragment","form_post"],"subject_types_supported":["pairwise"],"id_token_signing_alg_values_supported":["RS256"],"response_types_supported":["code","id_token","code
        id_token","id_token token"],"scopes_supported":["openid","profile","email","offline_access"],"issuer":"https://login.microsoftonline.com/9188040d-6c67-4c5b-b112-36a304b66dad/v2.0","request_uri_parameter_supported":false,"userinfo_endpoint":"https://graph.microsoft.com/oidc/userinfo","authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/authorize","device_authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/devicecode","http_logout_supported":true,"frontchannel_logout_supported":true,"end_session_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/logout","claims_supported":["sub","iss","cloud_instance_name","cloud_instance_host_name","cloud_graph_host_name","msgraph_host","aud","exp","iat","auth_time","acr","nonce","preferred_username","name","tid","ver","at_hash","c_hash","email"],"kerberos_endpoint":"https://login.microsoftonline.com/consumers/kerberos","mtls_endpoint_aliases":{"token_endpoint":"https://mtlsauth.microsoft.com/consumers/oauth2/v2.0/token"},"tls_client_certificate_bound_access_tokens":true,"tenant_region_scope":null,"cloud_instance_name":"microsoftonline.com","cloud_graph_host_name":"graph.windows.net","msgraph_host":"graph.microsoft.com","rbac_url":"https://pas.windows.net"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: new
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcor/move_s.txt:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:11:20Z","eTag":"\"{4B773B8F-A76B-436B-9790-A7EF01C3DF64},1\"","id":"graphreplaydrive!s4b773b8fa76b436b9790a7ef01c3df64","lastModifiedDateTime":"2026-06-10T05:11:20Z","name":"move_s.txt","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!s4b773b8fa76b436b9790a7ef01c3df64","cTag":"\"c:{4B773B8F-A76B-436B-9790-A7EF01C3DF64},1\"","isAuthoritative":false,"size":3,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!sb7faa263654f474e8dca7676e78bc34e","name":"mcor","path":"/drives/graphreplaydrive/root:/rs-conformance/mcor","siteId":"REDACTED"},"file":{"mimeType":"text/plain","hashes":{"quickXorHash":"bijDHQAAAAAAAAAAAwAAAAAAAAA="}},"fileSystemInfo":{"createdDateTime":"2026-06-10T05:11:20Z","lastModifiedDateTime":"2026-06-10T05:11:20Z"}}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
      SPLogId:
      - e0211ca2-108c-d000-9cbc-63eb41b6f7f2
    status:
      code: 201
      message: Created
- request:
    body: old
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcor/move_d.txt:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-0[...]
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcor/move_s.txt:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:11:20Z","eTag":"\"{4B773B8F-A76B-436B-9790-A7EF01C3DF64},1\"","id":"graphreplaydrive!s4b773b8[...]
- request:
    body: '{"parentReference":{"driveId":"graphreplaydrive","path":"/drives/graphreplaydrive/root:/rs-conformance/mcor"},"name":"move_d.txt"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcor/move_s.txt:?%40microsoft.graph.conflictBehavior=replace
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydri[...]
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcor/move_d.txt:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:11:20Z","eTag":"\"{4B773B8F-A76B-436B-9790-A7EF01C3DF64},2\"","id":"graphreplaydrive!s4b773b8[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://graph-download.invalid/REDACTED
  response:
    body:
      string: new
    headers:
      CTag:
      - '{4B773B8F-A76B-436B-9790-A7EF01C3DF64},2,1'
      Content-Disposition:
      - attachment;filename*=utf-8''move%5Fd%2Etxt;filename="move_d.txt"
      Content-Type:
      - text/plain
      ETag:
      - '"{4B773B8F-A76B-436B-9790-A7EF01C3DF64},2"'
      IsOCDI:
      - '0'
      MS-CV:
      - ohwh4WRAANCcvGCmLCtn3Q.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.27320
      SPLogId:
      - e1211ca2-4064-d000-9cbc-60a62c2b67dd
      SPRequestDuration:
      - '63'
      SPRequestGuid:
      - e1211ca2-4064-d000-9cbc-60a62c2b67dd
      X-1DSCollectorUrl:
      - https://mobile.events.data.microsoft.com/OneCollector/1.0/
      X-AriaCollectorURL:
      - https://browser.pipe.aria.microsoft.com/Collector/3.0/
      X-DataBoundary:
      - NONE
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-NetworkStatistics:
      - 0,65535,0,0,458129,312953,312953,109419
      X-SharePointHealthScore:
      - '2'
      docID:
      - my.microsoftpersonalcontent.com_52b575dd-9200-466f-a853-18401ad957cb_4b773b8f-a76b-436b-9790-a7ef01c3df64
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","createdDateTime":"2026-06-10T05:11:20Z","eTag":"\"{30804142-1C79-430C-A212-FD7CA1F9CF7D},1\"","id":"graphreplaydrive!s308041421c79430ca212fd7ca1f9cf7d","lastModifiedDateTime":"2026-06-10T05:11:20Z","name":"rs-conformance","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!s308041421c79430ca212fd7ca1f9cf7d","cTag":"\"c:{30804142-1C79-430C-A212-FD7CA1F9CF7D},0\"","isAuthoritative":false,"size":0,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!sea8cc6beffdb43d7976fbc7da445c639","name":"Documents","path":"/drives/graphreplaydrive/root:","siteId":"REDACTED"},"fileSystemInfo":{"createdDateTime":"2026-06-10T05:11:20Z","lastModifiedDateTime":"2026-06-10T05:11:20Z"},"folder":{"childCount":1,"view":{"sortBy":"name","sortOrder":"ascending","viewType":"thumbnails"}}}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
      SPLogId:
      - e1211ca2-309d-d000-9cbc-612956bae981
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: ''
    headers:
      SPLogId:
      - e1211ca2-a0cd-d000-9cbc-615d911d04ed
    status:
      code: 204
      message: No Content
version: 1
