interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/consumers/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/token","token_endpoint_auth_methods_supported":["client_secret_post","private_key_jwt","client_secret_basic","self_signed_tls_client_auth"],"jwks_uri":"https://login.microsoftonline.com/consumers/discovery/v2.0/keys","response_modes_supported":["query","fragment","form_post"],"subject_types_supported":["pairwise"],"id_token_signing_alg_values_supported":["RS256"],"response_types_supported":["code","id_token","code
        id_token","id_token token"],"scopes_supported":["openid","profile","email","offline_access"],"issuer":"https://login.microsoftonline.com/9188040d-6c67-4c5b-b112-36a304b66dad/v2.0","request_uri_parameter_supported":false,"userinfo_endpoint":"https://graph.microsoft.com/oidc/userinfo","authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/authorize","device_authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/devicecode","http_logout_supported":true,"frontchannel_logout_supported":true,"end_session_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/logout","claims_supported":["sub","iss","cloud_instance_name","cloud_instance_host_name","cloud_graph_host_name","msgraph_host","aud","exp","iat","auth_time","acr","nonce","preferred_username","name","tid","ver","at_hash","c_hash","email"],"kerberos_endpoint":"https://login.microsoftonline.com/consumers/kerberos","mtls_endpoint_aliases":{"token_endpoint":"https://mtlsauth.microsoft.com/consumers/oauth2/v2.0/token"},"tls_client_certificate_bound_access_tokens":true,"tenant_region_scope":null,"cloud_instance_name":"microsoftonline.com","cloud_graph_host_name":"graph.windows.net","msgraph_host":"graph.microsoft.com","rbac_url":"https://pas.windows.net"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: file-blocking
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/wufa_write_atomic.txt:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:50:12Z","eTag":"\"{D771B522-D7FE-4515-AA36-3A00D194C969},1\"","id":"graphreplaydrive!sd771b522d7fe4515aa363a00d194c969","lastModifiedDateTime":"2026-06-10T05:50:12Z","name":"wufa_write_atomic.txt","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!sd771b522d7fe4515aa363a00d194c969","cTag":"\"c:{D771B522-D7FE-4515-AA36-3A00D194C969},1\"","isAuthoritative":false,"size":13,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!sdcecba42e14944cd81fe2f551a8300d2","name":"rs-conformance","path":"/drives/graphreplaydrive/root:/rs-conformance","siteId":"REDACTED"},"file":{"mimeType":"text/plain","hashes":{"quickXorHash":"ZkgDG8rQAjGw4Q1jVUMa3HAGAAA="}},"fileSystemInfo":{"createdDateTime":"2026-06-10T05:50:12Z","lastModifiedDateTime":"2026-06-10T05:50:12Z"}}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
      SPLogId:
      - 19241ca2-40ee-d000-9cbc-66f3d080607d
    status:
      code: 201
      message: Created
- request:
    body: under-file
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/wufa_write_atomic.txt/child.txt:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"error":{"code":"itemNotFound","message":"Item not found","innerError":{"date":"2026-06-10T05:50:20","request-id":"bd78b147-8048-4112-9cef-f9dd2f22ffb9","client-request-id":"bd78b147-8048-4112-9cef-f9dd2f22ffb9"}}}'
    headers:
      Content-Type:
      - application/json
      SPLogId:
      - 1b241ca2-30d6-d000-9cbc-68a8b3e954a0
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/wufa_write_atomic.txt:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:50:12Z","eTag":"\"{D771B522-D7FE-4515-AA36-3A00D194C969},1\"","id":"graphreplaydrive!sd[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://graph-download.invalid/REDACTED
  response:
    body:
      string: file-blocking
    headers:
      CTag:
      - '{D771B522-D7FE-4515-AA36-3A00D194C969},1,1'
      Content-Disposition:
      - attachment;filename*=utf-8''wufa%5Fwrite%5Fatomic%2Etxt;filename="wufa_write_atomic.txt"
      Content-Type:
      - text/plain
      ETag:
      - '"{D771B522-D7FE-4515-AA36-3A00D194C969},1"'
      IsOCDI:
      - '0'
      MS-CV:
      - ohwkHFXQANCcvGlPnRjHUQ.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.27320
      SPLogId:
      - 1c241ca2-d055-d000-9cbc-694f9d18c751
      SPRequestDuration:
      - '60'
      SPRequestGuid:
      - 1c241ca2-d055-d000-9cbc-694f9d18c751
      X-1DSCollectorUrl:
      - https://mobile.events.data.microsoft.com/OneCollector/1.0/
      X-AriaCollectorURL:
      - https://browser.pipe.aria.microsoft.com/Collector/3.0/
      X-DataBoundary:
      - NONE
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-NetworkStatistics:
      - 0,1048560,0,0,319102,116336,116336,116483
      X-SharePointHealthScore:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:/children
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/children","value":[{"@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:50:12Z","eTag":"\"{D771B522-D7FE-4515-AA36-3A00D194C969},1\"","id":"graphreplaydrive!sd771b522d7fe4515aa363a00d194c969","lastModifiedDateTime":"2026-06-10T05:50:12Z","name":"wufa_write_atomic.txt","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!sd771b522d7fe4515aa363a00d194c969","cTag":"\"c:{D771B522-D7FE-4515-AA36-3A00D194C969},1\"","isAuthoritative":false,"si[...]
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","createdDateTime":"2026-06-10T05:50:12Z","eTag":"\"{DCECBA42-E149-44CD-81FE-2F551A8300D2},1\"","id":"graphreplaydrive!sdcecba42e14944cd81fe2f551a8300d2","lastModifiedDateTime":"2026-06-10T05:50:12Z","name":"rs-conformance","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!sdcecba42e14944cd81fe2f551a8300d2","cTag":"\"c:{DCECBA42-E149-44CD-81FE-2F551A8300D2},0\"","isAuthoritative":false,"size":0,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!sea8cc6beffdb43d7976fbc7da445c639","name":"Documents","path":"/drives/graphreplaydrive/root:","siteId":"REDACTED"},"fileSystemInfo":{"createdDateTime":"2026-06-10T05:50:12Z","lastModifiedDateTime":"2026-06-10T05:50:12Z"},"folder":{"childCount":1,"view":{"sortBy":"name","sortOrder":"ascending","viewType":"thumbnails"}}}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
      SPLogId:
      - 1c241ca2-00c4-d000-9cbc-62d6b08a5e0c
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: ''
    headers:
      SPLogId:
      - 1c241ca2-00f6-d000-9cbc-6b8355e0d46d
    status:
      code: 204
      message: No Content
version: 1
