interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/consumers/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/token","token_endpoint_auth_methods_supported":["client_secret_post","private_key_jwt","client_secret_basic","self_signed_tls_client_auth"],"jwks_uri":"https://login.microsoftonline.com/consumers/discovery/v2.0/keys","response_modes_supported":["query","fragment","form_post"],"subject_types_supported":["pairwise"],"id_token_signing_alg_values_supported":["RS256"],"response_types_supported":["code","id_token","code
        id_token","id_token token"],"scopes_supported":["openid","profile","email","offline_access"],"issuer":"https://login.microsoftonline.com/9188040d-6c67-4c5b-b112-36a304b66dad/v2.0","request_uri_parameter_supported":false,"userinfo_endpoint":"https://graph.microsoft.com/oidc/userinfo","authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/authorize","device_authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/devicecode","http_logout_supported":true,"frontchannel_logout_supported":true,"end_session_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/logout","claims_supported":["sub","iss","cloud_instance_name","cloud_instance_host_name","cloud_graph_host_name","msgraph_host","aud","exp","iat","auth_time","acr","nonce","preferred_username","name","tid","ver","at_hash","c_hash","email"],"kerberos_endpoint":"https://login.microsoftonline.com/consumers/kerberos","mtls_endpoint_aliases":{"token_endpoint":"https://mtlsauth.microsoft.com/consumers/oauth2/v2.0/token"},"tls_client_certificate_bound_access_tokens":true,"tenant_region_scope":null,"cloud_instance_name":"microsoftonline.com","cloud_graph_host_name":"graph.windows.net","msgraph_host":"graph.microsoft.com","rbac_url":"https://pas.windows.net"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: x
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/ec_eaw.txt:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:57:00Z","eTag":"\"{BB45D588-FAD4-4FA4-BAB2-C5C66AE80FEB},1\"","id":"graphreplaydrive!sbb45d588fad44fa4bab2c5c66ae80feb","lastModifiedDateTime":"2026-06-10T05:57:00Z","name":"ec_eaw.txt","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!sbb45d588fad44fa4bab2c5c66ae80feb","cTag":"\"c:{BB45D588-FAD4-4FA4-BAB2-C5C66AE80FEB},1\"","isAuthoritative":false,"size":1,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!sb63cdfa26a9d4b28a0ddca9dca8091b3","name":"rs-conformance","path":"/drives/graphreplaydrive/root:/rs-conformance","siteId":"REDACTED"},"file":{"mimeType":"text/plain","hashes":{"quickXorHash":"eAAAAAAAAAAAAAAAAQAAAAAAAAA="}},"fileSystemInfo":{"createdDateTime":"2026-06-10T05:57:00Z","lastModifiedDateTime":"2026-06-10T05:57:00Z"}}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
      SPLogId:
      - 7d241ca2-f087-d000-9cbc-61dba0e64fed
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/ec_eaw.txt:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:57:00Z","eTag":"\"{BB45D588-FAD4-4FA4-BAB2-C5C66AE80FEB},1\"","id":"graphreplaydrive!sbb45d588fad4[...]
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","createdDateTime":"2026-06-10T05:57:00Z","eTag":"\"{B63CDFA2-6A9D-4B28-A0DD-CA9DCA8091B3},1\"","id":"graphreplaydrive!sb63cdfa26a9d4b28a0ddca9dca8091b3","lastModifiedDateTime":"2026-06-10T05:57:00Z","name":"rs-conformance","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!sb63cdfa26a9d4b28a0ddca9dca8091b3","cTag":"\"c:{B63CDFA2-6A9D-4B28-A0DD-CA9DCA8091B3},0\"","isAuthoritative":false,"size":0,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!sea8cc6beffdb43d7976fbc7da445c639","name":"Documents","path":"/drives/graphreplaydrive/root:","siteId":"REDACTED"},"fileSystemInfo":{"createdDateTime":"2026-06-10T05:57:00Z","lastModifiedDateTime":"2026-06-10T05:57:00Z"},"folder":{"childCount":1,"view":{"sortBy":"name","sortOrder":"ascending","viewType":"thumbnails"}}}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
      SPLogId:
      - 7d241ca2-40f7-d000-9cbc-6eeb2961ddc8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: ''
    headers:
      SPLogId:
      - 7e241ca2-5026-d000-9cbc-62d7cbb32e08
    status:
      code: 204
      message: No Content
version: 1
