interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/consumers/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/token","token_endpoint_auth_methods_supported":["client_secret_post","private_key_jwt","client_secret_basic","self_signed_tls_client_auth"],"jwks_uri":"https://login.microsoftonline.com/consumers/discovery/v2.0/keys","response_modes_supported":["query","fragment","form_post"],"subject_types_supported":["pairwise"],"id_token_signing_alg_values_supported":["RS256"],"response_types_supported":["code","id_token","code
        id_token","id_token token"],"scopes_supported":["openid","profile","email","offline_access"],"issuer":"https://login.microsoftonline.com/9188040d-6c67-4c5b-b112-36a304b66dad/v2.0","request_uri_parameter_supported":false,"userinfo_endpoint":"https://graph.microsoft.com/oidc/userinfo","authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/authorize","device_authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/devicecode","http_logout_supported":true,"frontchannel_logout_supported":true,"end_session_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/logout","claims_supported":["sub","iss","cloud_instance_name","cloud_instance_host_name","cloud_graph_host_name","msgraph_host","aud","exp","iat","auth_time","acr","nonce","preferred_username","name","tid","ver","at_hash","c_hash","email"],"kerberos_endpoint":"https://login.microsoftonline.com/consumers/kerberos","mtls_endpoint_aliases":{"token_endpoint":"https://mtlsauth.microsoft.com/consumers/oauth2/v2.0/token"},"tls_client_certificate_bound_access_tokens":true,"tenant_region_scope":null,"cloud_instance_name":"microsoftonline.com","cloud_graph_host_name":"graph.windows.net","msgraph_host":"graph.microsoft.com","rbac_url":"https://pas.windows.net"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: file_content
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/a/b:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:14:35Z","eTag":"\"{190B9AA4-917E-4E50-AE29-EFC363E571F2},1\"","id":"graphreplaydrive!s190b9aa4917e4e50ae29efc363e571f2","lastModifiedDateTime":"2026-06-10T05:14:35Z","name":"b","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!s190b9aa4917e4e50ae29efc363e571f2","cTag":"\"c:{190B9AA4-917E-4E50-AE29-EFC363E571F2},1\"","isAuthoritative":false,"size":12,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!s627eace404b64479a4c17522e3d65e89","name":"a","path":"/drives/graphreplaydrive/root:/rs-conformance/a","siteId":"REDACTED"},"file":{"mimeType":"application/octet-stream","hashes":{"quickXorHash":"ZkgDG8rwhTG8wQ10JIMb6AAAAAA="}},"fileSystemInfo":{"createdDateTime":"2026-06-10T05:14:35Z","lastModifiedDateTime":"2026-06-10T05:14:35Z"}}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
      SPLogId:
      - 0f221ca2-00fe-d000-9cbc-658585e7885b
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/a/b/c:'
  response:
    body:
      string: '{"error":{"code":"itemNotFound","message":"The resource could not be
        found.","innerError":{"date":"2026-06-10T05:14:42","request-id":"3c532b1c-5729-4244-9795-622f46e79286","client-request-id":"3c532b1c-5729-4244-9795-622f46e79286"}}}'
    headers:
      Content-Type:
      - application/json
      SPLogId:
      - 11221ca2-a0f5-d000-9cbc-66f6cbb125d9
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/a/b/c/d:'
  response:
    body:
      string: '{"error":{"code":"itemNotFound","message":"The resource could not be
        found.","innerError":{"date":"2026-06-10T05:14:43","request-id":"80eed104-bcf7-4ad2-863e-877fb944f7c5","client-request-id":"80eed104-bcf7-4ad2-863e-877fb944f7c5"}}}'
    headers:
      Content-Type:
      - application/json
      SPLogId:
      - 12221ca2-302b-d000-9cbc-6ee277090320
    status:
      code: 404
      message: Not Found
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","createdDateTime":"2026-06-10T05:14:34Z","eTag":"\"{AB6035D0-BFC9-45B7-9E94-4B057801E97C},1\"","id":"graphreplaydrive!sab6035d0bfc945b79e944b057801e97c","lastModifiedDateTime":"2026-06-10T05:14:34Z","name":"rs-conformance","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!sab6035d0bfc945b79e944b057801e97c","cTag":"\"c:{AB6035D0-BFC9-45B7-9E94-4B057801E97C},0\"","isAuthoritative":false,"size":0,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!sea8cc6beffdb43d7976fbc7da445c639","name":"Documents","path":"/drives/graphreplaydrive/root:","siteId":"REDACTED"},"fileSystemInfo":{"createdDateTime":"2026-06-10T05:14:34Z","lastModifiedDateTime":"2026-06-10T05:14:34Z"},"folder":{"childCount":1,"view":{"sortBy":"name","sortOrder":"ascending","viewType":"thumbnails"}}}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
      SPLogId:
      - 12221ca2-605b-d000-9cbc-653878e9cecc
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: DELETE
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: ''
    headers:
      SPLogId:
      - 12221ca2-f08b-d000-9cbc-69cb227425e7
    status:
      code: 204
      message: No Content
version: 1
