interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/consumers/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/token","token_endpoint_auth_methods_supported":["client_secret_post","private_key_jwt","client_secret_basic","self_signed_tls_client_auth"],"jwks_uri":"https://login.microsoftonline.com/consumers/discovery/v2.0/keys","response_modes_supported":["query","fragment","form_post"],"subject_types_supported":["pairwise"],"id_token_signing_alg_values_supported":["RS256"],"response_types_supported":["code","id_token","code
        id_token","id_token token"],"scopes_supported":["openid","profile","email","offline_access"],"issuer":"https://login.microsoftonline.com/9188040d-6c67-4c5b-b112-36a304b66dad/v2.0","request_uri_parameter_supported":false,"userinfo_endpoint":"https://graph.microsoft.com/oidc/userinfo","authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/authorize","device_authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/devicecode","http_logout_supported":true,"frontchannel_logout_supported":true,"end_session_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/logout","claims_supported":["sub","iss","cloud_instance_name","cloud_instance_host_name","cloud_graph_host_name","msgraph_host","aud","exp","iat","auth_time","acr","nonce","preferred_username","name","tid","ver","at_hash","c_hash","email"],"kerberos_endpoint":"https://login.microsoftonline.com/consumers/kerberos","mtls_endpoint_aliases":{"token_endpoint":"https://mtlsauth.microsoft.com/consumers/oauth2/v2.0/token"},"tls_client_certificate_bound_access_tokens":true,"tenant_region_scope":null,"cloud_instance_name":"microsoftonline.com","cloud_graph_host_name":"graph.windows.net","msgraph_host":"graph.microsoft.com","rbac_url":"https://pas.windows.net"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: file-blocking
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua/move_blocker.txt:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:10:43Z","eTag":"\"{EAEB9165-1767-4D1C-A2CB-4DF8FCEAC934},1\"","id":"graphreplaydrive!seaeb916517674d1ca2cb4df8fceac934","lastModifiedDateTime":"2026-06-10T05:10:43Z","name":"move_blocker.txt","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!seaeb916517674d1ca2cb4df8fceac934","cTag":"\"c:{EAEB9165-1767-4D1C-A2CB-4DF8FCEAC934},1\"","isAuthoritative":false,"size":13,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!s55b2400c2f6649778410ae4ba56bba09","name":"mcua","path":"/drives/graphreplaydrive/root:/rs-conformance/mcua","siteId":"REDACTED"},"file":{"mimeType":"text/plain","hashes":{"quickXorHash":"ZkgDG8rQAjGw4Q1jVUMa3HAGAAA="}},"fileSystemInfo":{"createdDateTime":"2026-06-10T05:10:43Z","lastModifiedDateTime":"2026-06-10T05:10:43Z"}}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
      SPLogId:
      - d7211ca2-905b-d000-9cbc-61af92603ae4
    status:
      code: 201
      message: Created
- request:
    body: srcdata
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua/move_src.txt:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua/move_src.txt:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:10:44Z","eTag":"\"{BE9A5068-0E50-49AF-A1C5-E33097E93082},1\"","id":"graphreplaydrive!sbe9a5[...]
- request:
    body: '{"parentReference":{"driveId":"graphreplaydrive","path":"/drives/graphreplaydrive/root:/rs-conformance/mcua/move_blocker.txt"},"name":"dst.txt"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua/move_src.txt:?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"error":{"code":"invalidRequest","message":"Invalid request","innerError":{"date":"2026-06-10T05:10:45","request-id":"e47a7806-cef6-4627-b526-3bf2e49ec052","client-request-id":"e47a7806-cef6-4627-b526-3bf2e49ec052"}}}'
    headers:
      Content-Type:
      - application/json
      SPLogId:
      - d8211ca2-900d-d000-9cbc-6b633165b9d8
    status:
      code: 400
      message: Bad Request
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","createdDateTime":"2026-06-10T05:10:42Z","eTag":"\"{55B2400C-2F66-4977-8410-AE4BA56BBA09},1\"","id":"graphreplaydrive!s55b2400c2f6649778410ae4ba56bba09","lastModifiedDateTime":"2026-06-10T05:10:42Z","name":"mcua","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!s55b2400c2f6649778410ae4ba56bba09","cTag":"\"c:{55B2400C-2F66-4977-8410-AE4BA56BBA09},0\"","isAuthoritative":false,"size":0,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!s61a248cd8bf24fb9b0681e05fe616ec5","name":"rs-conformance","path":"/drives/graphreplaydrive/root:/rs-conformance","siteId":"REDACTED"},"fileSystemInfo":{"createdDateTime":"2026-06-10T05:10:42Z","lastModifiedDateTime":"2026-06-10T05:10:42Z"},"folder":{"childCount":2,"view":{"sortBy":"name","sortOrder":"ascending","viewType":"thumbnails"}}}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
      SPLogId:
      - d8211ca2-f043-d000-9cbc-6a61d887ca61
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua/move_blocker.txt:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:10:43Z","eTag":"\"{EAEB9165-1767-4D1C-A2CB-4DF8FCEAC934},1\"","id":"graphreplaydrive!se[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://graph-download.invalid/REDACTED
  response:
    body:
      string: file-blocking
    headers:
      CTag:
      - '{EAEB9165-1767-4D1C-A2CB-4DF8FCEAC934},1,1'
      Content-Disposition:
      - attachment;filename*=utf-8''move%5Fblocker%2Etxt;filename="move_blocker.txt"
      Content-Type:
      - text/plain
      ETag:
      - '"{EAEB9165-1767-4D1C-A2CB-4DF8FCEAC934},1"'
      IsOCDI:
      - '0'
      MS-CV:
      - ohwh2LuwANCcvGc6FzGpXw.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.27313
      SPLogId:
      - d8211ca2-b0bb-d000-9cbc-673a1731a95f
      SPRequestDuration:
      - '73'
      SPRequestGuid:
      - d8211ca2-b0bb-d000-9cbc-673a1731a95f
      X-1DSCollectorUrl:
      - https://mobile.events.data.microsoft.com/OneCollector/1.0/
      X-AriaCollectorURL:
      - https://browser.pipe.aria.microsoft.com/Collector/3.0/
      X-DataBoundary:
      - NONE
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-NetworkStatistics:
      - 0,65535,0,0,122988,31096,31096,108965
      X-SharePointHealthScore:
      - '2'
      docID:
      - my.microsoftpersonalcontent.com_52b575dd-9200-466f-a853-18401ad957cb_eaeb9165-1767-4d1c-a2cb-4df8fceac934
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","createdDateTime":"2026-06-10T05:10:42Z","eTag":"\"{61A248CD-8BF2-4FB9-B068-1E05FE616EC5},1\"","id":"graphreplaydrive!s61a248cd8bf24fb9b0681e05fe616ec5","lastModifiedDateTime":"2026-06-10T05:10:42Z","name":"rs-confo[...]
- request:
    body: ''
    headers:
    method: DELETE
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: ''
    headers:
      SPLogId:
      - d9211ca2-e032-d000-9cbc-684ca7343671
    status:
      code: 204
      message: No Content
version: 1
