interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/consumers/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/token","token_endpoint_auth_methods_supported":["client_secret_post","private_key_jwt","client_secret_basic","self_signed_tls_client_auth"],"jwks_uri":"https://login.microsoftonline.com/consumers/discovery/v2.0/keys","response_modes_supported":["query","fragment","form_post"],"subject_types_supported":["pairwise"],"id_token_signing_alg_values_supported":["RS256"],"response_types_supported":["code","id_token","code
        id_token","id_token token"],"scopes_supported":["openid","profile","email","offline_access"],"issuer":"https://login.microsoftonline.com/9188040d-6c67-4c5b-b112-36a304b66dad/v2.0","request_uri_parameter_supported":false,"userinfo_endpoint":"https://graph.microsoft.com/oidc/userinfo","authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/authorize","device_authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/devicecode","http_logout_supported":true,"frontchannel_logout_supported":true,"end_session_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/logout","claims_supported":["sub","iss","cloud_instance_name","cloud_instance_host_name","cloud_graph_host_name","msgraph_host","aud","exp","iat","auth_time","acr","nonce","preferred_username","name","tid","ver","at_hash","c_hash","email"],"kerberos_endpoint":"https://login.microsoftonline.com/consumers/kerberos","mtls_endpoint_aliases":{"token_endpoint":"https://mtlsauth.microsoft.com/consumers/oauth2/v2.0/token"},"tls_client_certificate_bound_access_tokens":true,"tenant_region_scope":null,"cloud_instance_name":"microsoftonline.com","cloud_graph_host_name":"graph.windows.net","msgraph_host":"graph.microsoft.com","rbac_url":"https://pas.windows.net"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: file-blocking
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua/copy_blocker.txt:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:10:51Z","eTag":"\"{D3672F11-204B-4445-9CDC-96B6ECB0A225},1\"","id":"graphreplaydrive!sd3672f11204b44459cdc96b6ecb0a225","lastModifiedDateTime":"2026-06-10T05:10:51Z","name":"copy_blocker.txt","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!sd3672f11204b44459cdc96b6ecb0a225","cTag":"\"c:{D3672F11-204B-4445-9CDC-96B6ECB0A225},1\"","isAuthoritative":false,"size":13,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!s5d8368dd3f394479b9b39284425b5ab3","name":"mcua","path":"/drives/graphreplaydrive/root:/rs-conformance/mcua","siteId":"REDACTED"},"file":{"mimeType":"text/plain","hashes":{"quickXorHash":"ZkgDG8rQAjGw4Q1jVUMa3HAGAAA="}},"fileSystemInfo":{"createdDateTime":"2026-06-10T05:10:51Z","lastModifiedDateTime":"2026-06-10T05:10:51Z"}}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
      SPLogId:
      - d9211ca2-b07b-d000-9cbc-6385debda4d5
    status:
      code: 201
      message: Created
- request:
    body: srcdata
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua/copy_src.txt:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua/copy_src.txt:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:10:52Z","eTag":"\"{64280C2B-7952-4AC9-B661-643616365622},1\"","id":"graphreplaydrive!s64280[...]
- request:
    body: '{"parentReference":{"driveId":"graphreplaydrive","path":"/drives/graphreplaydrive/root:/rs-conformance/mcua/copy_blocker.txt"},"name":"dst.txt"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua/copy_src.txt:/copy?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"error":{"code":"invalidRequest","message":"Invalid request","innerError":{"date":"2026-06-10T05:10:53","request-id":"ac011b78-383b-4b23-8cab-439f870e8451","client-request-id":"ac011b78-383b-4b23-8cab-439f870e8451"}}}'
    headers:
      Content-Type:
      - application/json
      SPLogId:
      - da211ca2-c015-d000-9cbc-6ad0fc4cb5db
    status:
      code: 400
      message: Bad Request
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","createdDateTime":"2026-06-10T05:10:51Z","eTag":"\"{5D8368DD-3F39-4479-B9B3-9284425B5AB3},1\"","id":"graphreplaydrive!s5d8368dd3f394479b9b39284425b5ab3","lastModifiedDateTime":"2026-06-10T05:10:51Z","name":"mcua","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!s5d8368dd3f394479b9b39284425b5ab3","cTag":"\"c:{5D8368DD-3F39-4479-B9B3-9284425B5AB3},0\"","isAuthoritative":false,"size":0,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!s4f05680971ad43cb87c4dc98a61dd962","name":"rs-conformance","path":"/drives/graphreplaydrive/root:/rs-conformance","siteId":"REDACTED"},"fileSystemInfo":{"createdDateTime":"2026-06-10T05:10:51Z","lastModifiedDateTime":"2026-06-10T05:10:51Z"},"folder":{"childCount":2,"view":{"sortBy":"name","sortOrder":"ascending","viewType":"thumbnails"}}}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
      SPLogId:
      - da211ca2-504a-d000-9cbc-62a48b57c5a6
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua/copy_blocker.txt:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:10:51Z","eTag":"\"{D3672F11-204B-4445-9CDC-96B6ECB0A225},1\"","id":"graphreplaydrive!sd[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://graph-download.invalid/REDACTED
  response:
    body:
      string: file-blocking
    headers:
      CTag:
      - '{D3672F11-204B-4445-9CDC-96B6ECB0A225},1,1'
      Content-Disposition:
      - attachment;filename*=utf-8''copy%5Fblocker%2Etxt;filename="copy_blocker.txt"
      Content-Type:
      - text/plain
      ETag:
      - '"{D3672F11-204B-4445-9CDC-96B6ECB0A225},1"'
      IsOCDI:
      - '0'
      MS-CV:
      - ohwh2qtgANCcvGpz5HHkdg.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.27313
      SPLogId:
      - da211ca2-60ab-d000-9cbc-6a73e471e476
      SPRequestDuration:
      - '53'
      SPRequestGuid:
      - da211ca2-60ab-d000-9cbc-6a73e471e476
      X-1DSCollectorUrl:
      - https://mobile.events.data.microsoft.com/OneCollector/1.0/
      X-AriaCollectorURL:
      - https://browser.pipe.aria.microsoft.com/Collector/3.0/
      X-DataBoundary:
      - NONE
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-NetworkStatistics:
      - 0,65535,1,1150,1084883,1396865,1396865,110469
      X-SharePointHealthScore:
      - '0'
      docID:
      - my.microsoftpersonalcontent.com_52b575dd-9200-466f-a853-18401ad957cb_d3672f11-204b-4445-9cdc-96b6ecb0a225
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","createdDateTime":"2026-06-10T05:10:51Z","eTag":"\"{4F056809-71AD-43CB-87C4-DC98A61DD962},1\"","id":"graphreplaydrive!s4f05680971ad43cb87c4dc98a61dd962","lastModifiedDateTime":"2026-06-10T05:10:51Z","name":"rs-confo[...]
- request:
    body: ''
    headers:
    method: DELETE
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: ''
    headers:
      SPLogId:
      - db211ca2-7058-d000-9cbc-6cd659e69fc2
    status:
      code: 204
      message: No Content
version: 1
