interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/consumers/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/token","token_endpoint_auth_methods_supported":["client_secret_post","private_key_jwt","client_secret_basic","self_signed_tls_client_auth"],"jwks_uri":"https://login.microsoftonline.com/consumers/discovery/v2.0/keys","response_modes_supported":["query","fragment","form_post"],"subject_types_supported":["pairwise"],"id_token_signing_alg_values_supported":["RS256"],"response_types_supported":["code","id_token","code
        id_token","id_token token"],"scopes_supported":["openid","profile","email","offline_access"],"issuer":"https://login.microsoftonline.com/9188040d-6c67-4c5b-b112-36a304b66dad/v2.0","request_uri_parameter_supported":false,"userinfo_endpoint":"https://graph.microsoft.com/oidc/userinfo","authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/authorize","device_authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/devicecode","http_logout_supported":true,"frontchannel_logout_supported":true,"end_session_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/logout","claims_supported":["sub","iss","cloud_instance_name","cloud_instance_host_name","cloud_graph_host_name","msgraph_host","aud","exp","iat","auth_time","acr","nonce","preferred_username","name","tid","ver","at_hash","c_hash","email"],"kerberos_endpoint":"https://login.microsoftonline.com/consumers/kerberos","mtls_endpoint_aliases":{"token_endpoint":"https://mtlsauth.microsoft.com/consumers/oauth2/v2.0/token"},"tls_client_certificate_bound_access_tokens":true,"tenant_region_scope":null,"cloud_instance_name":"microsoftonline.com","cloud_graph_host_name":"graph.windows.net","msgraph_host":"graph.microsoft.com","rbac_url":"https://pas.windows.net"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: file-blocking
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua/copy_blocker.txt:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:54:03Z","eTag":"\"{85EDC882-724B-4B3F-8C02-F36432CA959A},1\"","id":"graphreplaydrive!s85edc882724b4b3f8c02f36432ca959a","lastModifiedDateTime":"2026-06-10T05:54:03Z","name":"copy_blocker.txt","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!s85edc882724b4b3f8c02f36432ca959a","cTag":"\"c:{85EDC882-724B-4B3F-8C02-F36432CA959A},1\"","isAuthoritative":false,"size":13,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!sc43e76b6c14b40a4944e50ce25b080a1","name":"mcua","path":"/drives/graphreplaydrive/root:/rs-conformance/mcua","siteId":"REDACTED"},"file":{"mimeType":"text/plain","hashes":{"quickXorHash":"ZkgDG8rQAjGw4Q1jVUMa3HAGAAA="}},"fileSystemInfo":{"createdDateTime":"2026-06-10T05:54:03Z","lastModifiedDateTime":"2026-06-10T05:54:03Z"}}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
      SPLogId:
      - 52241ca2-2035-d000-9cbc-664c72bcd99d
    status:
      code: 201
      message: Created
- request:
    body: srcdata
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua/copy_src.txt:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua/copy_src.txt:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:54:04Z","eTag":"\"{7D37555D-A461-4214-B6B7-BF116ED3A158},1\"","id":"graphreplaydrive!s7d375[...]
- request:
    body: '{"parentReference":{"driveId":"graphreplaydrive","path":"/drives/graphreplaydrive/root:/rs-conformance/mcua/copy_blocker.txt"},"name":"dst.txt"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua/copy_src.txt:/copy?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"error":{"code":"invalidRequest","message":"Invalid request","innerError":{"date":"2026-06-10T05:54:05","request-id":"3899591a-5fd7-432d-9248-72101e53bd78","client-request-id":"3899591a-5fd7-432d-9248-72101e53bd78"}}}'
    headers:
      Content-Type:
      - application/json
      SPLogId:
      - 52241ca2-70ec-d000-9cbc-6adc5d5bdb7e
    status:
      code: 400
      message: Bad Request
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","createdDateTime":"2026-06-10T05:54:03Z","eTag":"\"{C43E76B6-C14B-40A4-944E-50CE25B080A1},1\"","id":"graphreplaydrive!sc43e76b6c14b40a4944e50ce25b080a1","lastModifiedDateTime":"2026-06-10T05:54:03Z","name":"mcua","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!sc43e76b6c14b40a4944e50ce25b080a1","cTag":"\"c:{C43E76B6-C14B-40A4-944E-50CE25B080A1},0\"","isAuthoritative":false,"size":0,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!s476dc65db9a24940ba1cfc5700ce8dbe","name":"rs-conformance","path":"/drives/graphreplaydrive/root:/rs-conformance","siteId":"REDACTED"},"fileSystemInfo":{"createdDateTime":"2026-06-10T05:54:03Z","lastModifiedDateTime":"2026-06-10T05:54:03Z"},"folder":{"childCount":2,"view":{"sortBy":"name","sortOrder":"ascending","viewType":"thumbnails"}}}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
      SPLogId:
      - 53241ca2-9025-d000-9cbc-6da4792e66a9
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/mcua/copy_blocker.txt:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:54:03Z","eTag":"\"{85EDC882-724B-4B3F-8C02-F36432CA959A},1\"","id":"graphreplaydrive!s8[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://graph-download.invalid/REDACTED
  response:
    body:
      string: file-blocking
    headers:
      CTag:
      - '{85EDC882-724B-4B3F-8C02-F36432CA959A},1,1'
      Content-Disposition:
      - attachment;filename*=utf-8''copy%5Fblocker%2Etxt;filename="copy_blocker.txt"
      Content-Type:
      - text/plain
      ETag:
      - '"{85EDC882-724B-4B3F-8C02-F36432CA959A},1"'
      IsOCDI:
      - '0'
      MS-CV:
      - ohwkU6HwANCcvGxSESKp+w.0
      MicrosoftSharePointTeamServices:
      - 16.0.0.27320
      SPLogId:
      - 53241ca2-f0a1-d000-9cbc-6c521122a9fb
      SPRequestDuration:
      - '54'
      SPRequestGuid:
      - 53241ca2-f0a1-d000-9cbc-6c521122a9fb
      X-1DSCollectorUrl:
      - https://mobile.events.data.microsoft.com/OneCollector/1.0/
      X-AriaCollectorURL:
      - https://browser.pipe.aria.microsoft.com/Collector/3.0/
      X-DataBoundary:
      - NONE
      X-MS-InvokeApp:
      - 1; RequireReadOnly
      X-NetworkStatistics:
      - 0,4194240,0,0,433668,178353,178353,118424
      X-SharePointHealthScore:
      - '0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","createdDateTime":"2026-06-10T05:54:03Z","eTag":"\"{476DC65D-B9A2-4940-BA1C-FC5700CE8DBE},1\"","id":"graphreplaydrive!s476dc65db9a24940ba1cfc5700ce8dbe","lastModifiedDateTime":"2026-06-10T05:54:03Z","name":"rs-confo[...]
- request:
    body: ''
    headers:
    method: DELETE
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: ''
    headers:
      SPLogId:
      - 54241ca2-4054-d000-9cbc-6057b6481ff5
    status:
      code: 204
      message: No Content
version: 1
