interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/consumers/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/token","token_endpoint_auth_methods_supported":["client_secret_post","private_key_jwt","client_secret_basic","self_signed_tls_client_auth"],"jwks_uri":"https://login.microsoftonline.com/consumers/discovery/v2.0/keys","response_modes_supported":["query","fragment","form_post"],"subject_types_supported":["pairwise"],"id_token_signing_alg_values_supported":["RS256"],"response_types_supported":["code","id_token","code
        id_token","id_token token"],"scopes_supported":["openid","profile","email","offline_access"],"issuer":"https://login.microsoftonline.com/9188040d-6c67-4c5b-b112-36a304b66dad/v2.0","request_uri_parameter_supported":false,"userinfo_endpoint":"https://graph.microsoft.com/oidc/userinfo","authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/authorize","device_authorization_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/devicecode","http_logout_supported":true,"frontchannel_logout_supported":true,"end_session_endpoint":"https://login.microsoftonline.com/consumers/oauth2/v2.0/logout","claims_supported":["sub","iss","cloud_instance_name","cloud_instance_host_name","cloud_graph_host_name","msgraph_host","aud","exp","iat","auth_time","acr","nonce","preferred_username","name","tid","ver","at_hash","c_hash","email"],"kerberos_endpoint":"https://login.microsoftonline.com/consumers/kerberos","mtls_endpoint_aliases":{"token_endpoint":"https://mtlsauth.microsoft.com/consumers/oauth2/v2.0/token"},"tls_client_certificate_bound_access_tokens":true,"tenant_region_scope":null,"cloud_instance_name":"microsoftonline.com","cloud_graph_host_name":"graph.windows.net","msgraph_host":"graph.microsoft.com","rbac_url":"https://pas.windows.net"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: x
    headers:
      Content-Type:
      - application/octet-stream
    method: PUT
    uri: https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/ddir/file.txt:/content?%40microsoft.graph.conflictBehavior=fail
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","@microsoft.graph.downloadUrl":"https://graph-download.invalid/REDACTED","createdDateTime":"2026-06-10T05:50:26Z","eTag":"\"{5097743A-0B61-4BD6-A51B-3BCA39993226},1\"","id":"graphreplaydrive!s5097743a0b614bd6a51b3bca39993226","lastModifiedDateTime":"2026-06-10T05:50:26Z","name":"file.txt","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!s5097743a0b614bd6a51b3bca39993226","cTag":"\"c:{5097743A-0B61-4BD6-A51B-3BCA39993226},1\"","isAuthoritative":false,"size":1,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!s30cd1c40f5e941b595b5919a9d257ca3","name":"ddir","path":"/drives/graphreplaydrive/root:/rs-conformance/ddir","siteId":"REDACTED"},"file":{"mimeType":"text/plain","hashes":{"quickXorHash":"eAAAAAAAAAAAAAAAAQAAAAAAAAA="}},"fileSystemInfo":{"createdDateTime":"2026-06-10T05:50:26Z","lastModifiedDateTime":"2026-06-10T05:50:26Z"}}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
      SPLogId:
      - 1d241ca2-c03d-d000-9cbc-69a4b19daf7f
    status:
      code: 201
      message: Created
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance/ddir:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","createdDateTime":"2026-06-10T05:50:26Z","eTag":"\"{30CD1C40-F5E9-41B5-95B5-919A9D257CA3},1\"","id":"graphreplaydrive!s30cd1c40f5e941b595b5919a9d257ca3","lastModifiedDateTime":"2026-06-10T05:50:26Z","name":"ddir","webUrl":"https://onedrive.live.com?cid=graphreplaydrive&id=graphreplaydrive!s30cd1c40f5e941b595b5919a9d257ca3","cTag":"\"c:{30CD1C40-F5E9-41B5-95B5-919A9D257CA3},0\"","isAuthoritative":false,"size":0,"createdBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"lastModifiedBy":{"application":{"id":"4a930d6e-6194-4149-8dd8-183f99689089","displayName":"REDACTED"},"user":{"email":"REDACTED","id":"graphreplaydrive","displayName":"REDACTED"}},"parentReference":{"driveType":"personal","driveId":"graphreplaydrive","id":"graphreplaydrive!s8c5a692c412f4530891165f6237d01d3","name":"rs-conformance","path":"/drives/graphreplaydrive/root:/rs-conformance","siteId":"REDACTED"},"fileSystemInfo":{"createdDateTime":"2026-06-10T05:50:26Z","lastModifiedDateTime":"2026-06-10T05:50:26Z"},"folder":{"childCount":1,"view":{"sortBy":"name","sortOrder":"ascending","viewType":"thumbnails"}}}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
      SPLogId:
      - 1d241ca2-6087-d000-9cbc-67ea82984547
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''graphreplaydrive'')/root/$entity","createdDateTime":"2026-06-10T05:50:26Z","eTag":"\"{8C5A692C-412F-4530-8911-65F6237D01D3},1\"","id":"graphreplaydrive!s8c5a692c412f4530891165f6237d01d3","lastModifiedDateTime":"2026-06-10T05:50:26Z","name":"rs-confo[...]
- request:
    body: ''
    headers:
    method: DELETE
    uri: 'https://graph.microsoft.com/v1.0/drives/graphreplaydrive/root:/rs-conformance:'
  response:
    body:
      string: ''
    headers:
      SPLogId:
      - 1d241ca2-a0f3-d000-9cbc-667e25d4f7c9
    status:
      code: 204
      message: No Content
version: 1
