interactions:
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DECD7346452BEA"'
      Last-Modified:
      - Thu, 18 Jun 2026 19:53:31 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/lfr/a.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: a
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/lfr/a.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - DMF1ucDxtqgxw5niaXcmYQ==
      ETag:
      - '"0x8DECD73468299CC"'
      Last-Modified:
      - Thu, 18 Jun 2026 19:53:32 GMT
      x-ms-content-crc64:
      - PPzLtEWEL4w=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/lfr/sub/b.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://azreplay.dfs.core.windows.net/conformance-azure-replay?directory=lfr&recursive=true&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"1","creationTime":"134262860121086412","etag":"0x8DECD73468299CC","expiryTime":"0","group":"$superuser","lastModified":"Thu,
        18 Jun 2026 19:53:32 GMT","name":"lfr/a.txt","owner":"$superuser","permissions":"rw-r-----"},{"contentLength":"0","creationTime":"134262860124582552","etag":"0x8DECD7346B7F488","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Thu,
        18 Jun 2026 19:53:32 GMT","name":"lfr/sub","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"1","creationTime":"134262860124717932","etag":"0x8DECD7346BA036C","expiryTime":"0","group":"$superuser","lastModified":"Thu,
        18 Jun 2026 19:53:32 GMT","name":"lfr/sub/b.txt","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: DELETE
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2026-04-06'
    status:
      code: 202
      message: Accepted
version: 1
