interactions:
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DECD735782551B"'
      Last-Modified:
      - Thu, 18 Jun 2026 19:54:00 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/lfc2/s1/a.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: a
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/lfc2/s1/a.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - DMF1ucDxtqgxw5niaXcmYQ==
      ETag:
      - '"0x8DECD7357B9D1A4"'
      Last-Modified:
      - Thu, 18 Jun 2026 19:54:00 GMT
      x-ms-content-crc64:
      - PPzLtEWEL4w=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/lfc2/s2/b.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/lfc2/s3/c.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/lfc2/top.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://azreplay.dfs.core.windows.net/conformance-azure-replay?directory=lfc2&recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"0","creationTime":"134262860409776244","etag":"0x8DECD7357B7AAE4","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Thu,
        18 Jun 2026 19:54:00 GMT","name":"lfc2/s1","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","creationTime":"134262860413294492","etag":"0x8DECD7357ED5A00","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Thu,
        18 Jun 2026 19:54:01 GMT","name":"lfc2/s2","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","creationTime":"134262860416583312","etag":"0x8DECD73581F8868","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Thu,
        18 Jun 2026 19:54:01 GMT","name":"lfc2/s3","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"1","creationTime":"134262860420121604","etag":"0x8DECD7358558404","expiryTime":"0","group":"$superuser","lastModified":"Thu,
        18 Jun 2026 19:54:02 GMT","name":"lfc2/top.txt","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: DELETE
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2026-04-06'
    status:
      code: 202
      message: Accepted
version: 1
