interactions:
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB3EEA94AF858"'
      Last-Modified:
      - Sun, 17 May 2026 08:31:15 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://azreplay.blob.core.windows.net/?comp=properties&restype=account
  response:
    body:
      string: ''
    headers:
      x-ms-account-kind:
      - StorageV2
      x-ms-is-hns-enabled:
      - 'true'
      x-ms-sku-name:
      - Standard_LRS
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/lfc2/s1/a.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: a
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/lfc2/s1/a.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - DMF1ucDxtqgxw5niaXcmYQ==
      ETag:
      - '"0x8DEB3EEA9AA1BAC"'
      Last-Modified:
      - Sun, 17 May 2026 08:31:16 GMT
      x-ms-content-crc64:
      - PPzLtEWEL4w=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/lfc2/s2/b.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/lfc2/s3/c.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/lfc2/top.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://azreplay.dfs.core.windows.net/conformance-azure-replay?directory=lfc2&recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"0","creationTime":"134234802763040416","etag":"0x8DEB3EEA9A68944","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Sun,
        17 May 2026 08:31:16 GMT","name":"lfc2/s1","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","creationTime":"134234802767031896","etag":"0x8DEB3EEA9E37104","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Sun,
        17 May 2026 08:31:16 GMT","name":"lfc2/s2","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","creationTime":"134234802771503276","etag":"0x8DEB3EEAA27AA80","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Sun,
        17 May 2026 08:31:17 GMT","name":"lfc2/s3","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"1","creationTime":"134234802775625912","etag":"0x8DEB3EEAA6690B8","expiryTime":"0","group":"$superuser","lastModified":"Sun,
        17 May 2026 08:31:17 GMT","name":"lfc2/top.txt","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: DELETE
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2026-04-06'
    status:
      code: 202
      message: Accepted
version: 1
