interactions:
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DECD734FEF5E0E"'
      Last-Modified:
      - Thu, 18 Jun 2026 19:53:47 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/pc/a.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: a
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/pc/a.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - DMF1ucDxtqgxw5niaXcmYQ==
      ETag:
      - '"0x8DECD73502E8EE8"'
      Last-Modified:
      - Thu, 18 Jun 2026 19:53:48 GMT
      x-ms-content-crc64:
      - PPzLtEWEL4w=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/pc/d1/b.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/pc/d1/c.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/pc/d1/d2/d.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/pc/d1/d2/d3/e.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://azreplay.dfs.core.windows.net/conformance-azure-replay?directory=pc&recursive=true&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"1","creationTime":"134262860283350760","etag":"0x8DECD73502E8EE8","expiryTime":"0","group":"$superuser","lastModified":"Thu,
        18 Jun 2026 19:53:48 GMT","name":"pc/a.txt","owner":"$superuser","permissions":"rw-r-----"},{"contentLength":"0","creationTime":"134262860286535428","etag":"0x8DECD73505F2950","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Thu,
        18 Jun 2026 19:53:48 GMT","name":"pc/d1","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"1","creationTime":"134262860286691576","etag":"0x8DECD73506188F8","expiryTime":"0","group":"$superuser","lastModified":"Thu,
        18 Jun 2026 19:53:48 GMT","name":"pc/d1/b.txt","owner":"$superuser","permissions":"rw-r-----"},{"contentLength":"1","creationTime":"134262860290374564","etag":"0x8DECD735099BBA4","expiryTime":"0","group":"$superuser","lastMo[...]
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: DELETE
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2026-04-06'
    status:
      code: 202
      message: Accepted
version: 1
