interactions:
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEBFE59C312CC4"'
      Last-Modified:
      - Mon, 01 Jun 2026 13:56:42 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://azreplay.blob.core.windows.net/?comp=properties&restype=account
  response:
    body:
      string: ''
    headers:
      x-ms-account-kind:
      - StorageV2
      x-ms-is-hns-enabled:
      - 'true'
      x-ms-sku-name:
      - Standard_LRS
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/wufa_write.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: file-blocking
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/wufa_write.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - Qxf/irlZMiQNQidF+v9MwQ==
      ETag:
      - '"0x8DEBFE59C8ABEFC"'
      Last-Modified:
      - Mon, 01 Jun 2026 13:56:42 GMT
      x-ms-content-crc64:
      - upF+dtJY2VY=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/wufa_write.txt/child.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: under-file
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/wufa_write.txt/child.txt?blockid=TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQXdNREF3TURBd01EQSUzRA%3D%3D&comp=block
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>OperationNotAllowedInCurrentState</Code><Message>The
        requested operation is not allowed in the current state of the entity.\nRequestId:SCRUBBED\nTime:SCRUBBED</Message></Error>"
    headers:
      Content-Type:
      - application/xml
      x-ms-error-code:
      - OperationNotAllowedInCurrentState
      x-ms-version:
      - '2026-04-06'
    status:
      code: 409
      message: The requested operation is not allowed in the current state of the
        entity.
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/wufa_write.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - Qxf/irlZMiQNQidF+v9MwQ==
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8DEBFE59C8ABEFC"'
      Last-Modified:
      - Mon, 01 Jun 2026 13:56:42 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 01 Jun 2026 13:56:42 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/wufa_write.txt
  response:
    body:
      string: file-blocking
    headers:
      Content-Range:
      - bytes 0-12/13
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8DEBFE59C8ABEFC"'
      Last-Modified:
      - Mon, 01 Jun 2026 13:56:42 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-blob-content-md5:
      - Qxf/irlZMiQNQidF+v9MwQ==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 01 Jun 2026 13:56:42 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://azreplay.dfs.core.windows.net/conformance-azure-replay?directory=%2F&recursive=true&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"13","creationTime":"134247958027943676","etag":"0x8DEBFE59C8ABEFC","expiryTime":"0","group":"$superuser","lastModified":"Mon,
        01 Jun 2026 13:56:42 GMT","name":"wufa_write.txt","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: DELETE
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2026-04-06'
    status:
      code: 202
      message: Accepted
version: 1
