interactions:
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DECD72F333D79B"'
      Last-Modified:
      - Thu, 18 Jun 2026 19:51:12 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/cp_src.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: data
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/cp_src.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - jXd/OF09/siBXSD3SWAm3A==
      ETag:
      - '"0x8DECD72F36A0C5C"'
      Last-Modified:
      - Thu, 18 Jun 2026 19:51:12 GMT
      x-ms-content-crc64:
      - gCf8jkNhru0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/cp_src.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - jXd/OF09/siBXSD3SWAm3A==
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8DECD72F36A0C5C"'
      Last-Modified:
      - Thu, 18 Jun 2026 19:51:12 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 18 Jun 2026 19:51:12 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/cp_dst.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://azreplay.blob.core.windows.net/conformance-azure-replay/cp_src.txt
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/cp_dst.txt
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DECD72F3B42DF8"'
      Last-Modified:
      - Thu, 18 Jun 2026 19:51:13 GMT
      x-ms-copy-id:
      - 1b928a2f-1f86-45ad-a128-771cd833f01d
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2026-04-06'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/cp_src.txt
  response:
    body:
      string: data
    headers:
      Content-Range:
      - bytes 0-3/4
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8DECD72F36A0C5C"'
      Last-Modified:
      - Thu, 18 Jun 2026 19:51:12 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-blob-content-md5:
      - jXd/OF09/siBXSD3SWAm3A==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 18 Jun 2026 19:51:12 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/cp_dst.txt
  response:
    body:
      string: data
    headers:
      Content-Range:
      - bytes 0-3/4
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8DECD72F3B42DF8"'
      Last-Modified:
      - Thu, 18 Jun 2026 19:51:13 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-blob-content-md5:
      - jXd/OF09/siBXSD3SWAm3A==
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-completion-time:
      - Thu, 18 Jun 2026 19:51:13 GMT
      x-ms-copy-id:
      - 1b928a2f-1f86-45ad-a128-771cd833f01d
      x-ms-copy-progress:
      - 4/4
      x-ms-copy-source:
      - https://azreplay.blob.core.windows.net/conformance-azure-replay/cp_src.txt
      x-ms-copy-status:
      - success
      x-ms-creation-time:
      - Thu, 18 Jun 2026 19:51:13 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: DELETE
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2026-04-06'
    status:
      code: 202
      message: Accepted
version: 1
