interactions:
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEBF25464FF956"'
      Last-Modified:
      - Sun, 31 May 2026 14:59:54 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://azreplay.blob.core.windows.net/?comp=properties&restype=account
  response:
    body:
      string: ''
    headers:
      x-ms-account-kind:
      - StorageV2
      x-ms-is-hns-enabled:
      - 'true'
      x-ms-sku-name:
      - Standard_LRS
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/mcmeta/copy-src.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: data
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-meta-author:
      - carol
      x-ms-meta-stage:
      - bronze
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/mcmeta/copy-src.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - jXd/OF09/siBXSD3SWAm3A==
      ETag:
      - '"0x8DEBF2546A38E0C"'
      Last-Modified:
      - Sun, 31 May 2026 14:59:55 GMT
      x-ms-content-crc64:
      - gCf8jkNhru0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/mcmeta/copy-src.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - jXd/OF09/siBXSD3SWAm3A==
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8DEBF2546A38E0C"'
      Last-Modified:
      - Sun, 31 May 2026 14:59:55 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Sun, 31 May 2026 14:59:55 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-author:
      - carol
      x-ms-meta-stage:
      - bronze
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/mcmeta/copy-dst.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://azreplay.blob.core.windows.net/conformance-azure-replay/mcmeta/copy-src.txt
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/mcmeta/copy-dst.txt
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEBF2546F40E3C"'
      Last-Modified:
      - Sun, 31 May 2026 14:59:55 GMT
      x-ms-copy-id:
      - a08a9eff-3228-496a-9166-aa423d09e761
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2026-04-06'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/mcmeta/copy-dst.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - jXd/OF09/siBXSD3SWAm3A==
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8DEBF2546F40E3C"'
      Last-Modified:
      - Sun, 31 May 2026 14:59:55 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-completion-time:
      - Sun, 31 May 2026 14:59:55 GMT
      x-ms-copy-id:
      - a08a9eff-3228-496a-9166-aa423d09e761
      x-ms-copy-progress:
      - 4/4
      x-ms-copy-source:
      - https://azreplay.blob.core.windows.net/conformance-azure-replay/mcmeta/copy-src.txt
      x-ms-copy-status:
      - success
      x-ms-creation-time:
      - Sun, 31 May 2026 14:59:55 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-author:
      - carol
      x-ms-meta-stage:
      - bronze
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: DELETE
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2026-04-06'
    status:
      code: 202
      message: Accepted
version: 1
