interactions:
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DECD737C944E68"'
      Last-Modified:
      - Thu, 18 Jun 2026 19:55:02 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/wufa_write_atomic.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: file-blocking
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/wufa_write_atomic.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - Qxf/irlZMiQNQidF+v9MwQ==
      ETag:
      - '"0x8DECD737CC7D47C"'
      Last-Modified:
      - Thu, 18 Jun 2026 19:55:03 GMT
      x-ms-content-crc64:
      - upF+dtJY2VY=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/wufa_write_atomic.txt/child.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.dfs.core.windows.net/conformance-azure-replay/wufa_write_atomic.txt/.~tmp.child.txt?resource=file
  response:
    body:
      string: '{"error":{"code":"PathConflict","message":"The specified path, or an
        element of the path, exists and its resource type is invalid for this operation.\nRequestId:SCRUBBED\nTime:SCRUBBED"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-ms-error-code:
      - PathConflict
      x-ms-version:
      - '2026-04-06'
    status:
      code: 409
      message: The specified path, or an element of the path, exists and its resource
        type is invalid for this operation.
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: DELETE
    uri: https://azreplay.dfs.core.windows.net/conformance-azure-replay/wufa_write_atomic.txt/.~tmp.child.txt
  response:
    body:
      string: '{"error":{"code":"PathConflict","message":"The specified path, or an
        element of the path, exists and its resource type is invalid for this operation.\nRequestId:SCRUBBED\nTime:SCRUBBED"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-ms-error-code:
      - PathConflict
      x-ms-version:
      - '2026-04-06'
    status:
      code: 409
      message: The specified path, or an element of the path, exists and its resource
        type is invalid for this operation.
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/wufa_write_atomic.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - Qxf/irlZMiQNQidF+v9MwQ==
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8DECD737CC7D47C"'
      Last-Modified:
      - Thu, 18 Jun 2026 19:55:03 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 18 Jun 2026 19:55:03 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/wufa_write_atomic.txt
  response:
    body:
      string: file-blocking
    headers:
      Content-Range:
      - bytes 0-12/13
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8DECD737CC7D47C"'
      Last-Modified:
      - Thu, 18 Jun 2026 19:55:03 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-blob-content-md5:
      - Qxf/irlZMiQNQidF+v9MwQ==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 18 Jun 2026 19:55:03 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://azreplay.dfs.core.windows.net/conformance-azure-replay?directory=%2F&recursive=true&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"13","creationTime":"134262861031593084","etag":"0x8DECD737CC7D47C","expiryTime":"0","group":"$superuser","lastModified":"Thu,
        18 Jun 2026 19:55:03 GMT","name":"wufa_write_atomic.txt","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: DELETE
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2026-04-06'
    status:
      code: 202
      message: Accepted
version: 1
