interactions:
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB1B6851DBA20"'
      Last-Modified:
      - Thu, 14 May 2026 12:44:20 GMT
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: GET
    uri: https://azreplay.blob.core.windows.net/?comp=properties&restype=account
  response:
    body:
      string: ''
    headers:
      x-ms-account-kind:
      - StorageV2
      x-ms-is-hns-enabled:
      - 'true'
      x-ms-sku-name:
      - Standard_LRS
      x-ms-version:
      - '2026-02-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/pc/a.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-02-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: a
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/pc/a.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - DMF1ucDxtqgxw5niaXcmYQ==
      ETag:
      - '"0x8DEB1B685844B08"'
      Last-Modified:
      - Thu, 14 May 2026 12:44:21 GMT
      x-ms-content-crc64:
      - PPzLtEWEL4w=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/pc/d1/b.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-02-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/pc/d1/c.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-02-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/pc/d1/d2/d.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-02-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/pc/d1/d2/d3/e.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-02-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: GET
    uri: https://azreplay.dfs.core.windows.net/conformance-azure-replay?directory=pc&recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"1","creationTime":"134232362615393032","etag":"0x8DEB1B685844B08","expiryTime":"0","group":"$superuser","lastModified":"Thu,
        14 May 2026 12:44:21 GMT","name":"pc/a.txt","owner":"$superuser","permissions":"rw-r-----"},{"contentLength":"0","creationTime":"134232362619728576","etag":"0x8DEB1B685C67528","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Thu,
        14 May 2026 12:44:21 GMT","name":"pc/d1","owner":"$superuser","permissions":"rwxr-x---"}]}

        '
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2026-02-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: DELETE
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2026-02-06'
    status:
      code: 202
      message: Accepted
version: 1
