interactions:
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB1B62E155244"'
      Last-Modified:
      - Thu, 14 May 2026 12:41:54 GMT
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: GET
    uri: https://azreplay.blob.core.windows.net/?comp=properties&restype=account
  response:
    body:
      string: ''
    headers:
      x-ms-account-kind:
      - StorageV2
      x-ms-is-hns-enabled:
      - 'true'
      x-ms-sku-name:
      - Standard_LRS
      x-ms-version:
      - '2026-02-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/ec_sib/a.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-02-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: a
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/ec_sib/a.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - DMF1ucDxtqgxw5niaXcmYQ==
      ETag:
      - '"0x8DEB1B62E852494"'
      Last-Modified:
      - Thu, 14 May 2026 12:41:55 GMT
      x-ms-content-crc64:
      - PPzLtEWEL4w=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/ec_sib/b.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-02-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: DELETE
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/ec_sib/a.txt
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'true'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2026-02-06'
    method: GET
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/ec_sib/b.txt
  response:
    body:
      string: b
    headers:
      Content-Range:
      - bytes 0-0/1
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8DEB1B62EC2C6C0"'
      Last-Modified:
      - Thu, 14 May 2026 12:41:55 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-blob-content-md5:
      - kutf/uauL+w61xx3dTFXjw==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 14 May 2026 12:41:55 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: DELETE
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2026-02-06'
    status:
      code: 202
      message: Accepted
version: 1
