interactions:
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB3EE7FB53AE3"'
      Last-Modified:
      - Sun, 17 May 2026 08:30:05 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://azreplay.blob.core.windows.net/?comp=properties&restype=account
  response:
    body:
      string: ''
    headers:
      x-ms-account-kind:
      - StorageV2
      x-ms-is-hns-enabled:
      - 'true'
      x-ms-sku-name:
      - Standard_LRS
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/gfr/a.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: aaa
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/gfr/a.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - R7zlx09Yn0hn29V+nKn4CA==
      ETag:
      - '"0x8DEB3EE80082BB4"'
      Last-Modified:
      - Sun, 17 May 2026 08:30:06 GMT
      x-ms-content-crc64:
      - yRr7k//2ekY=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/gfr/sub/b.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/gfr
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB3EE80026D00"'
      Last-Modified:
      - Sun, 17 May 2026 08:30:06 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-acl:
      - user::rwx,group::r-x,other::---
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Sun, 17 May 2026 08:30:06 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-hdi_isfolder:
      - 'true'
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rwxr-x---
      x-ms-resource-type:
      - directory
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://azreplay.dfs.core.windows.net/conformance-azure-replay?directory=gfr&recursive=true&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"3","creationTime":"134234802064796596","etag":"0x8DEB3EE80082BB4","expiryTime":"0","group":"$superuser","lastModified":"Sun,
        17 May 2026 08:30:06 GMT","name":"gfr/a.txt","owner":"$superuser","permissions":"rw-r-----"},{"contentLength":"0","creationTime":"134234802068138520","etag":"0x8DEB3EE803B2BF4","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Sun,
        17 May 2026 08:30:06 GMT","name":"gfr/sub","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"2","creationTime":"134234802068332220","etag":"0x8DEB3EE803E1EBC","expiryTime":"0","group":"$superuser","lastModified":"Sun,
        17 May 2026 08:30:06 GMT","name":"gfr/sub/b.txt","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: DELETE
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2026-04-06'
    status:
      code: 202
      message: Accepted
version: 1
