interactions:
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.dfs.core.windows.net/conformance-azure-replay/live-hns/REPLAY/dirblob?resource=directory
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DECE2519363A5C"'
      Last-Modified:
      - Fri, 19 Jun 2026 17:06:26 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://azreplay.dfs.core.windows.net/conformance-azure-replay?directory=%2F&recursive=true&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"0","creationTime":"134224690694845900","etag":"0x8DEAABC436AF828","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Tue,
        05 May 2026 15:37:49 GMT","name":"bug191","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","creationTime":"134225173202301992","etag":"0x8DEAB2C9B1A76C8","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Wed,
        06 May 2026 05:02:00 GMT","name":"diag","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","creationTime":"134224760084880136","etag":"0x8DEAACC6B62DD4C","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Tue,
        05 May 2026 17:33:28 GMT","name":"live-hns","owner":"$s[...]
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: DELETE
    uri: https://azreplay.dfs.core.windows.net/conformance-azure-replay/live-hns/REPLAY?recursive=true
  response:
    body:
      string: ''
    headers:
      x-ms-delete-type-permanent:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
version: 1
