interactions:
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB1B5FEB80BB7"'
      Last-Modified:
      - Thu, 14 May 2026 12:40:35 GMT
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: GET
    uri: https://azreplay.blob.core.windows.net/?comp=properties&restype=account
  response:
    body:
      string: ''
    headers:
      x-ms-account-kind:
      - StorageV2
      x-ms-is-hns-enabled:
      - 'true'
      x-ms-sku-name:
      - Standard_LRS
      x-ms-version:
      - '2026-02-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/dffile.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-02-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: x
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/dffile.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - ndTkYSaMgDT1yFZOFVxnpg==
      ETag:
      - '"0x8DEB1B5FF13FC98"'
      Last-Modified:
      - Thu, 14 May 2026 12:40:35 GMT
      x-ms-content-crc64:
      - seRUZAJnvS0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/dffile.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - ndTkYSaMgDT1yFZOFVxnpg==
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8DEB1B5FF13FC98"'
      Last-Modified:
      - Thu, 14 May 2026 12:40:35 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 14 May 2026 12:40:35 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: GET
    uri: https://azreplay.dfs.core.windows.net/conformance-azure-replay?directory=dffile.txt&maxResults=1&recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"1","creationTime":"134232360359885976","etag":"0x8DEB1B5FF13FC98","expiryTime":"0","group":"$superuser","lastModified":"Thu,
        14 May 2026 12:40:35 GMT","name":"dffile.txt","owner":"$superuser","permissions":"rw-r-----"}]}

        '
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2026-02-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: DELETE
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2026-02-06'
    status:
      code: 202
      message: Accepted
version: 1
