interactions:
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB4A9B6E1D1D9"'
      Last-Modified:
      - Mon, 18 May 2026 06:50:14 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://azreplay.blob.core.windows.net/?comp=properties&restype=account
  response:
    body:
      string: ''
    headers:
      x-ms-account-kind:
      - StorageV2
      x-ms-is-hns-enabled:
      - 'true'
      x-ms-sku-name:
      - Standard_LRS
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/lfd/sub1/a.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: a
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/lfd/sub1/a.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - DMF1ucDxtqgxw5niaXcmYQ==
      ETag:
      - '"0x8DEB4A9B74659C4"'
      Last-Modified:
      - Mon, 18 May 2026 06:50:15 GMT
      x-ms-content-crc64:
      - PPzLtEWEL4w=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/lfd/sub2/b.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/lfd/file.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://azreplay.dfs.core.windows.net/conformance-azure-replay?directory=lfd&recursive=false&resource=filesystem
  response:
    body:
      string: '{"paths":[{"contentLength":"1","creationTime":"134235606158535740","etag":"0x8DEB4A9B7C0EC3C","expiryTime":"0","group":"$superuser","lastModified":"Mon,
        18 May 2026 06:50:15 GMT","name":"lfd/file.txt","owner":"$superuser","permissions":"rw-r-----"},{"contentLength":"0","creationTime":"134235606150304864","etag":"0x8DEB4A9B74356F4","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Mon,
        18 May 2026 06:50:15 GMT","name":"lfd/sub1","owner":"$superuser","permissions":"rwxr-x---"},{"contentLength":"0","creationTime":"134235606154329328","etag":"0x8DEB4A9B780BF1C","expiryTime":"0","group":"$superuser","isDirectory":"true","lastModified":"Mon,
        18 May 2026 06:50:15 GMT","name":"lfd/sub2","owner":"$superuser","permissions":"rwxr-x---"}]}

        '
    headers:
      Content-Type:
      - application/json;charset=utf-8
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: DELETE
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2026-04-06'
    status:
      code: 202
      message: Accepted
version: 1
