interactions:
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB3EE0CC4F631"'
      Last-Modified:
      - Sun, 17 May 2026 08:26:53 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://azreplay.blob.core.windows.net/?comp=properties&restype=account
  response:
    body:
      string: ''
    headers:
      x-ms-account-kind:
      - StorageV2
      x-ms-is-hns-enabled:
      - 'true'
      x-ms-sku-name:
      - Standard_LRS
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/oat2.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-04-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: first
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/oat2.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - iwTV43ddKY54RV78XKQE1Q==
      ETag:
      - '"0x8DEB3EE0D14E9DC"'
      Last-Modified:
      - Sun, 17 May 2026 08:26:53 GMT
      x-ms-content-crc64:
      - MRDEy5hdTcA=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/oat2.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - iwTV43ddKY54RV78XKQE1Q==
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8DEB3EE0D14E9DC"'
      Last-Modified:
      - Sun, 17 May 2026 08:26:53 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Sun, 17 May 2026 08:26:53 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.dfs.core.windows.net/conformance-azure-replay/.~tmp.oat2.txt?resource=file
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB3EE0D463158"'
      Last-Modified:
      - Sun, 17 May 2026 08:26:53 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: second
    headers:
      Content-Type:
      - application/json
      x-ms-version:
      - '2026-04-06'
    method: PATCH
    uri: https://azreplay.dfs.core.windows.net/conformance-azure-replay/.~tmp.oat2.txt?action=append&position=0
  response:
    body:
      string: ''
    headers:
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      If-Match:
      - '"0x8DEB3EE0D463158"'
      x-ms-version:
      - '2026-04-06'
    method: PATCH
    uri: https://azreplay.dfs.core.windows.net/conformance-azure-replay/.~tmp.oat2.txt?action=flush&close=true&position=6
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB3EE0D8600C0"'
      Last-Modified:
      - Sun, 17 May 2026 08:26:54 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-rename-source:
      - /conformance-azure-replay/.~tmp.oat2.txt
      x-ms-source-lease-id:
      - ''
      x-ms-version:
      - '2026-04-06'
    method: PUT
    uri: https://azreplay.dfs.core.windows.net/conformance-azure-replay/oat2.txt?mode=legacy
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB3EE0D8600C0"'
      Last-Modified:
      - Sun, 17 May 2026 08:26:54 GMT
      x-ms-version:
      - '2026-04-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2026-04-06'
    method: GET
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/oat2.txt
  response:
    body:
      string: second
    headers:
      Content-Range:
      - bytes 0-5/6
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8DEB3EE0D8600C0"'
      Last-Modified:
      - Sun, 17 May 2026 08:26:54 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Sun, 17 May 2026 08:26:53 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-04-06'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-04-06'
    method: DELETE
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2026-04-06'
    status:
      code: 202
      message: Accepted
version: 1
