interactions:
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB1B5F2E7DE10"'
      Last-Modified:
      - Thu, 14 May 2026 12:40:15 GMT
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: GET
    uri: https://azreplay.blob.core.windows.net/?comp=properties&restype=account
  response:
    body:
      string: ''
    headers:
      x-ms-account-kind:
      - StorageV2
      x-ms-is-hns-enabled:
      - 'true'
      x-ms-sku-name:
      - Standard_LRS
      x-ms-version:
      - '2026-02-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/mcor/copy_s.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-02-06'
    status:
      code: 404
      message: The specified blob does not exist.
- request:
    body: new
    headers:
      Content-Type:
      - application/octet-stream
      x-ms-blob-type:
      - BlockBlob
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/mcor/copy_s.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - Iq9kXRhZy1ym2gxITx836g==
      ETag:
      - '"0x8DEB1B5F34D7BD8"'
      Last-Modified:
      - Thu, 14 May 2026 12:40:16 GMT
      x-ms-content-crc64:
      - Sjq/P8zBiZ0=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/mcor/copy_d.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2026-02-06'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: HEAD
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/mcor/copy_s.txt
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - Iq9kXRhZy1ym2gxITx836g==
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8DEB1B5F34D7BD8"'
      Last-Modified:
      - Thu, 14 May 2026 12:40:16 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 14 May 2026 12:40:16 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://azreplay.blob.core.windows.net/conformance-azure-replay/mcor/copy_s.txt
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/mcor/copy_d.txt
  response:
    body:
      string: ''
    headers:
      ETag:
      - '"0x8DEB1B5F3C21B5C"'
      Last-Modified:
      - Thu, 14 May 2026 12:40:16 GMT
      x-ms-copy-id:
      - b649386c-26f3-4109-a2e2-52576e40bf1d
      x-ms-copy-status:
      - success
      x-ms-version:
      - '2026-02-06'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2026-02-06'
    method: GET
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay/mcor/copy_d.txt
  response:
    body:
      string: new
    headers:
      Content-Range:
      - bytes 0-2/3
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8DEB1B5F3C21B5C"'
      Last-Modified:
      - Thu, 14 May 2026 12:40:16 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-acl:
      - user::rw-,group::r--,other::---
      x-ms-blob-content-md5:
      - Iq9kXRhZy1ym2gxITx836g==
      x-ms-blob-type:
      - BlockBlob
      x-ms-copy-completion-time:
      - Thu, 14 May 2026 12:40:16 GMT
      x-ms-copy-id:
      - b649386c-26f3-4109-a2e2-52576e40bf1d
      x-ms-copy-progress:
      - 3/3
      x-ms-copy-source:
      - https://azreplay.blob.core.windows.net/conformance-azure-replay/mcor/copy_s.txt
      x-ms-copy-status:
      - success
      x-ms-creation-time:
      - Thu, 14 May 2026 12:40:16 GMT
      x-ms-group:
      - $superuser
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-owner:
      - $superuser
      x-ms-permissions:
      - rw-r-----
      x-ms-resource-type:
      - file
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2026-02-06'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-version:
      - '2026-02-06'
    method: DELETE
    uri: https://azreplay.blob.core.windows.net/conformance-azure-replay?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2026-02-06'
    status:
      code: 202
      message: Accepted
version: 1
